body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(69, 29, 145, 1) 25%,
    rgba(121, 47, 166, 1) 66%,
    rgba(177, 23, 148, 1) 100%
  );
  color: azure;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.bg-gradient {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(69, 29, 145, 1) 25%,
    rgba(121, 47, 166, 1) 66%,
    rgba(177, 23, 148, 1) 100%
  );
  min-height: 100vh;
}

.footer {
  position: fixed;
  text-align: right;
  width: 100%;
  bottom: 0;
}
